# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
workspace_eclipse/.metadata/*
workspace_eclipse/.metadata/.*
workspace_eclipse/.metadata/*/*
workspace_eclipse/.metadata/.*/*

# No eclipse .log files
.log
workspace_eclipse/.metadata/.plugins/org.eclipse.cdt.core/.log
workspace_eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/*
*.pdom
global-build.log
.markers
.markers.snap
.snap
.root/*
workspace_eclipse/.metadata/*

